extends layout
 
block content 
  .row
    #formModal.modal
      .modal-dialog
        .modal-content
          .modal-header
            h1.title-modal
          .modal-body
            p.formModal
          .modal-footer
    #title
      h1 #{user}, welcome to the chatroom
    .col-md-9#containerMessages
      .panel.panel-primary.head
        .panel-heading
          p Messages
      #chatMsgs
    .col-md-3#containerUsers
      .panel.panel-primary.head
        .panel-heading
          p Users
      #chatUsers
    .col-md-7#containerSendMessages
      input.message.col-md-12.form-control(type="text",placeholder="Write a message")
    .col-md-2#containerSendMessages
      button.btn.btn-large.btn-block.btn-primary.sendMsg() Send